In [1]:
##Step 1: Import Pandas
import pandas as pd

In [2]:
##Step 2: Load the CSV
df = pd.read_csv("Airline_Delay_Cause.csv")

In [4]:
##Step 3: Verify Import
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0

In [5]:
##Step 4: Check File Shape
df.shape

(318017, 21)

In [6]:
## DATA CLEANING

In [7]:
##Step 1: Inspect the dataset

## We need to check data types, missing values, and general structure.

In [11]:
# Quick overview of the dataset
df.info()

# Check first few rows
df.head()

# Check for missing values
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318017 entries, 0 to 318016
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 318017 non-null  int64
 1   month                318017 non-null  int64
 2   carrier              318013 non-null  object
 3   carrier_name         318013 non-null  object
 4   airport              318014 non-null  object
 5   airport_name         318017 non-null  object
 6   arr_flights          317524 non-null  float64
 7   arr_del15            317285 non-null  float64
 8   carrier_ct           317525 non-null  float64
 9   weather_ct           317523 non-null  float64
 10  nas_ct               317529 non-null  float64
 11  security_ct          317529 non-null  float64
 12  late_aircraft_ct     317529 non-null  float64
 13  arr_cancelled        317529 non-null  float64
 14  arr_diverted         317527 non-null  float64
 15  arr_delay            317523 non-null  float64
 16  carrier_delay        317525 non-null  float64
 17  weather_delay        317529 non-null  float64
 18  nas_delay            317529 non-null  float64
 19  security_delay       317527 non-null  float64
 20  late_aircraft_delay  317529 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 51.0+ MB

year                     0
month                    0
carrier                  4
carrier_name             4
airport                  3
airport_name             0
arr_flights            493
arr_del15              732
carrier_ct             492
weather_ct             494
nas_ct                 488
security_ct            488
late_aircraft_ct       488
arr_cancelled          488
arr_diverted           490
arr_delay              494
carrier_delay          492
weather_delay          488
nas_delay              488
security_delay         490
late_aircraft_delay    488
dtype: int64

In [13]:
##Observations 
##Critical identifiers (carrier, carrier_name, airport) have very few missing values (3–4 rows).

##Flight counts and delay values have ~0.15–0.23% missing — tiny proportion.

##The dataset is otherwise mostly complete.

In [14]:
#Strategy for Missing Values
#Step 1: Drop rows missing identifiers
#We cannot analyze rows without a carrier or airport:

df = df.dropna(subset=['carrier', 'carrier_name', 'airport'])

In [15]:
##Step 2 : Fill missing numeric columns with 0
##Flight counts and delay minutes missing values likely mean no flights or no delays recorded.
##Safe to replace with 0.

numeric_cols = [
    'arr_flights','arr_del15','carrier_ct','weather_ct','nas_ct','security_ct','late_aircraft_ct',
    'arr_cancelled','arr_diverted','arr_delay','carrier_delay','weather_delay','nas_delay',
    'security_delay','late_aircraft_delay'
]

for col in numeric_cols:
    df[col] = df[col].fillna(0)

In [16]:
##Step 3: Verify missing values are gone
df.isna().sum()

year                   0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

In [18]:
## AFTER MISSING VALUES - Rename columns to clean and descriptive names

df = df.rename(columns={
    "year": "year",
    "month": "month",
    "carrier": "carrier_code",
    "carrier_name": "carrier_name",
    "airport": "airport_code",
    "airport_name": "airport_name",
    "arr_flights": "total_flights",
    "arr_del15": "delayed_flights_15min",
    "carrier_ct": "carrier_delay_count",
    "weather_ct": "weather_delay_count",
    "nas_ct": "nas_delay_count",
    "security_ct": "security_delay_count",
    "late_aircraft_ct": "late_aircraft_delay_count",
    "arr_cancelled": "cancelled_flights",
    "arr_diverted": "diverted_flights",
    "arr_delay": "total_delay_minutes",
    "carrier_delay": "carrier_delay_minutes",
    "weather_delay": "weather_delay_minutes",
    "nas_delay": "nas_delay_minutes",
    "security_delay": "security_delay_minutes",
    "late_aircraft_delay": "late_aircraft_delay_minutes"
})

In [19]:
##verify column names
df.columns

Index(['year', 'month', 'carrier_code', 'carrier_name', 'airport_code',
       'airport_name', 'total_flights', 'delayed_flights_15min',
       'carrier_delay_count', 'weather_delay_count', 'nas_delay_count',
       'security_delay_count', 'late_aircraft_delay_count',
       'cancelled_flights', 'diverted_flights', 'total_delay_minutes',
       'carrier_delay_minutes', 'weather_delay_minutes', 'nas_delay_minutes',
       'security_delay_minutes', 'late_aircraft_delay_minutes'],
      dtype='object')

In [20]:
##the dataset is clean and readable, ready for logical checks, derived metrics, and analysis.

In [24]:
##Step 1: Logical Checks
#Delayed flights cannot exceed total flights

# Find rows where delayed flights > total flights
mask = df['delayed_flights_15min'] > df['total_flights']
print("Rows where delayed flights > total flights:", mask.sum())

# Correct the values
df.loc[mask, 'delayed_flights_15min'] = df.loc[mask, 'total_flights']

# Why:It’s impossible to have more delayed flights than total flights.
#   This ensures our delay rate is accurate.

Rows where delayed flights > total flights: 0

In [26]:
#Negative delays are impossible

# List of delay minute columns
delay_cols = [
    'total_delay_minutes','carrier_delay_minutes','weather_delay_minutes',
    'nas_delay_minutes','security_delay_minutes','late_aircraft_delay_minutes'
]
# Clip negative values to 0
for col in delay_cols:
    df[col] = df[col].clip(lower=0)

In [27]:
#Create a proper datetime column
df['date'] = pd.to_datetime(dict(year=df['year'], month=df['month'], day=1), errors='coerce')

#Why:Combines year and month into a single column.
# Makes time-series plotting easier.

In [28]:
#Step 2: Derived Metrics

#Delay Rate (Proportion of flights delayed ≥15 minutes):

df['delay_rate'] = df['delayed_flights_15min'] / df['total_flights']

#Range: 0 → 1
#Useful for ranking airports or airlines by reliability.

In [29]:
#Average Delay per Delayed Flight
df['avg_delay_per_delayed_flight'] = df['total_delay_minutes'] / df['delayed_flights_15min']
df['avg_delay_per_delayed_flight'] = df['avg_delay_per_delayed_flight'].fillna(0)

#Measures severity of delays, not just frequency.
#Fill NaN with 0 for cases where no flights were delayed.

In [30]:
#Seasonal Mapping
season_map = {12:'Winter',1:'Winter',2:'Winter',3:'Spring',4:'Spring',5:'Spring',
              6:'Summer',7:'Summer',8:'Summer',9:'Fall',10:'Fall',11:'Fall'}
df['season'] = df['month'].map(season_map)

#Why:Helps detect seasonal trends (e.g., more weather delays in Winter).

In [31]:
#Cause Percentages
for col in delay_cols[1:]:  # skip total_delay_minutes
    pct_col = col.replace('_minutes','_pct')
    df[pct_col] = df[col] / df['total_delay_minutes']
    df[pct_col] = df[pct_col].fillna(0)

    #Shows whether delays are mostly carrier, weather, NAS, security, or late aircraft.
#Useful for dashboards or airline/airport comparison.

In [34]:
#Step 3: Verify the Data
df.head()
df.describe()

,year,month,total_flights,delayed_flights_15min,carrier_delay_count,weather_delay_count,nas_delay_count,security_delay_count,late_aircraft_delay_count,cancelled_flights,...,security_delay_minutes,late_aircraft_delay_minutes,date,delay_rate,avg_delay_per_delayed_flight,carrier_delay_pct,weather_delay_pct,nas_delay_pct,security_delay_pct,late_aircraft_delay_pct
count,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,...,318010.000000,318010.000000,318010,317517.000000,3.180100e+05,3.180100e+05,3.180100e+05,3.180100e+05,318010.000000,3.180100e+05
mean,2012.450980,6.497811,381.180406,72.737046,21.040360,2.612375,23.968732,0.178764,24.937853,7.196283,...,7.203862,1593.643448,2012-11-27 17:49:49.649382400,0.197606,inf,inf,inf,inf,0.002118,inf
min,2003.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,0.000000,...,0.000000,0.000000,2003-06-01 00:00:00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,2007.000000,3.000000,59.000000,9.000000,3.000000,0.000000,1.660000,0.000000,1.620000,0.000000,...,0.000000,78.000000,2007-12-01 00:00:00,0.122222,4.070370e+01,2.250000e-01,0.000000e+00,8.800000e-02,0.000000,1.416667e-01
50%,2012.000000,6.000000,120.000000,22.000000,8.170000,0.580000,5.470000,0.000000,5.850000,1.000000,...,0.000000,350.000000,2012-08-01 00:00:00,0.184783,5.084615e+01,3.476849e-01,1.410308e-02,1.772442e-01,0.000000,3.166667e-01
75%,2018.000000,10.000000,273.000000,56.000000,19.660000,2.000000,15.330000,0.000000,17.000000,4.000000,...,0.000000,1107.000000,2018-05-01 00:00:00,0.258065,6.270438e+01,5.000000e-01,6.883927e-02,2.986911e-01,0.000000,4.666667e-01
max,2022.000000,12.000000,21977.000000,6377.000000,1792.070000,717.940000,4091.270000,80.560000,1885.470000,4951.000000,...,3760.000000,148181.000000,2022-05-01 00:00:00,1.000000,inf,inf,inf,inf,1.000000,inf
std,5.678249,3.459454,1026.480625,198.740542,47.642139,9.961531,85.054517,0.844223,75.224562,37.189201,...,38.826185,4921.616984,NaN,0.112399,NaN,NaN,NaN,NaN,0.017765,NaN

In [35]:
#PROBLEM ENCOUNTERED
#Any division by zero produces inf.
#Also explains why std and mean are showing inf or NaN.

#Replace inf with 0 or NaN
import numpy as np

# Replace infinite values with 0
df.replace([np.inf, -np.inf], 0, inplace=True)

# Optional: fill any remaining NaN in derived columns with 0
derived_cols = ['avg_delay_per_delayed_flight','carrier_delay_pct','weather_delay_pct',
                'nas_delay_pct','security_delay_pct','late_aircraft_delay_pct']

df[derived_cols] = df[derived_cols].fillna(0)

In [36]:
df[derived_cols].describe()

,avg_delay_per_delayed_flight,carrier_delay_pct,weather_delay_pct,nas_delay_pct,security_delay_pct,late_aircraft_delay_pct
count,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000,318010.000000
mean,53.478186,0.375631,0.058113,0.217568,0.002118,0.316247
std,27.553909,0.224593,0.107338,0.186165,0.017765,0.217296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.701558,0.225000,0.000000,0.088000,0.000000,0.141664
50%,50.846154,0.347683,0.014099,0.177239,0.000000,0.316650
75%,62.702559,0.500000,0.068833,0.298680,0.000000,0.466667
max,1551.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
##Cap extreme outliers
##Some very large airports (like ATL, ORD) may have extremely high total flights and delay minutes.
# Cap delay_rate at 1 (100%)
df['delay_rate'] = df['delay_rate'].clip(0,1)

# Cap percentages at 1
pct_cols = ['carrier_delay_pct','weather_delay_pct','nas_delay_pct','security_delay_pct','late_aircraft_delay_pct']
for col in pct_cols:
    df[col] = df[col].clip(0,1)

In [38]:
# Save as CSV without the index
df.to_csv("Airline_Delay_Cleaned.csv", index=False)